@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .contrast-110 {
    filter: contrast(1.1);
  }
  .brightness-105 {
    filter: brightness(1.05);
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

  .hide-scrollbar {
    @apply overflow-auto; /* To enable scrolling */
    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar in WebKit browsers */
    }
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
}

@keyframes electricLightning {
  0% {
      box-shadow: 
          0 0 1px #00f, 
          0 0 2px #0ff, 
          0 0 3px #00f, 
          1px 1px 2px #0ff, 
          -1px 1px 3px #00f, 
          /* 1px -1px 2px #0ff, 
          -1px 1px 3px #00f;  */
  }
  25% {
      box-shadow: 
          -1px 1px 2px #0ff, 
          1px -1px 3px #00f, 
          -2px 2px 2px #0ff, 
           1px -1px 3px #00f, 
          /*-1px 1px 2px #0ff, 
          1px -1px 3px #00f;  */
  }
  50% {
      box-shadow: 
          1px -1px 3px #00f, 
          -1px 1px 2px #0ff, 
          2px -2px 3px #00f, 
           -1px 1px 3px #0ff, 
          /*1px -1px 2px #00f, 
          -1px 1px 2px #0ff;  */
  }
  75% {
      box-shadow: 
          -1px 1px 2px #0ff, 
          1px -1px 3px #00f, 
          -2px 2px 2px #0ff, 
           1px -1px 3px #00f, 
          /*-1px 1px 2px #0ff, 
          1px -1px 3px #00f;  */
  }
  100% {
      box-shadow: 
          0px 0px 2px #00f, 
          0px 0px 3px #0ff, 
          -1px 1px 3px #00f, 
          1px -1px 3px #0ff, 
          /* -1px 1px 2px #00f, 
          1px -1px 3px #00f;  */
  }
}



.electric-lightning-effect-border {
  animation: electricLightning 0.5s infinite alternate ease-in-out;
 
  box-shadow: 0 0 3px #00f, 0 0 5px #0ff;
}

.electric-lightning-effect {
  transition: box-shadow 0.3s ease-in-out;
}

.electric-lightning-effect:hover {
  animation: electricLightning 0.5s infinite alternate ease-in-out;
  transition-delay: 100ms;
  box-shadow: 0 0 3px #00f, 0 0 5px #0ff;
}

.nav-item-effect{
  position: relative;
}

.nav-item-effect:hover {
  color: transparent; 
  background-clip: text;
  /* background: url("/electric-lightning-strike-gif.gif") no-repeat center;  */
  mix-blend-mode: luminosity; 
  background-size: cover; 
  transition: transform 0.3s ease;
  -webkit-text-stroke: 1px #000; 
  transform: scale(1.2);
}

.dark .nav-item-effect:hover {
  mix-blend-mode: difference; 
  /* background: url("/electric-lightning-strike-gif.gif") no-repeat center;  */
  background-size: cover;
  -webkit-text-stroke: 1px #fff;
  transform: scale(1.2);
} 

.nav-item-effect::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -7px; 
  height: 1px; 
  width: 0; 
  background-color: rgba(24, 163, 250, 0.89); 
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-50%); 
}

.nav-item-effect:hover::after {
  width: 100%; 
  transform: translateX(-50%) scaleY(1); 
}

.scrollbar-custom {
  height: 100vh;
  overflow-y: auto;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: linear-gradient(to right, #3182ce, #63b3ed); 
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  width: 6px;
  background: linear-gradient(90deg, #2b6cb0, #3182ce); 
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px 4px rgba(43, 108, 176, 0.5), 0 0 15px 6px rgba(49, 130, 206, 0.5);
  transition: box-shadow 0.3s ease, width 0.3s ease, background 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  width: 8px;
  background: linear-gradient(90deg, #63b3ed, #3182ce); 
  box-shadow: 0 0 15px 8px rgba(49, 130, 206, 0.8), 0 0 25px 12px rgba(43, 108, 176, 0.8);
}

@keyframes pulseGlow {
  0%, 100% {
      box-shadow: 0 0 8px 4px rgba(43, 108, 176, 0.5), 0 0 15px 6px rgba(49, 130, 206, 0.5);
  }
  50% {
      box-shadow: 0 0 12px 6px rgba(99, 179, 237, 0.8), 0 0 20px 10px rgba(49, 130, 206, 0.8);
  }
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  animation: pulseGlow 2s infinite alternate ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .scrollbar-custom::-webkit-scrollbar-track {
      background: linear-gradient(to right, #1a202c, #2d3748); 
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #2b6cb0, #3182ce); 
      box-shadow: 0 0 8px 4px rgba(43, 108, 176, 0.5), 0 0 15px 6px rgba(49, 130, 206, 0.5);
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(90deg, #63b3ed, #3182ce);
      box-shadow: 0 0 15px 8px rgba(49, 130, 206, 0.8), 0 0 25px 12px rgba(43, 108, 176, 0.8);
  }
}

@media (prefers-color-scheme: light) {
  .scrollbar-custom::-webkit-scrollbar-track {
      background: linear-gradient(to right, #63b3ed, #3182ce); 
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #2b6cb0, #3182ce); 
      box-shadow: 0 0 8px 4px rgba(43, 108, 176, 0.5), 0 0 15px 6px rgba(49, 130, 206, 0.5);
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(90deg, #63b3ed, #3182ce);
      box-shadow: 0 0 15px 8px rgba(49, 130, 206, 0.8), 0 0 25px 12px rgba(43, 108, 176, 0.8);
  }
}

.svg-text-animate path {
  fill: transparent;
  stroke: #f5f5f5;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: introTextAnimate 2s ease-in-out 1 forwards;
}

@keyframes introTextAnimate {
  0% {
    stroke-dashoffset: 1000;
  }
  80%{
    fill: transparent;
  }
  100%{
    stroke-dashoffset: 0;
    fill: #f5f5f5;
  }

}

.my-name path {
  fill: transparent;
  stroke: #f5f5f5;
  stroke-width: 2px;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  filter: drop-shadow(0 0 3px #f5f5f5);
  animation: nameTextAnimate 2s ease-in-out forwards,
             waveFloat 2s ease-in-out 1s infinite alternate; 
}

@keyframes nameTextAnimate {
  0% {
    stroke-dashoffset: 100;
  }
  80% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #f5f5f5;
  }
}

@keyframes waveFloat {
  0% {
    transform: translateY(0); 
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.my-name path:nth-child(1) {
  animation-delay: 0s;
}

.my-name path:nth-child(2) {
  animation-delay: 0.15s;
}

.my-name path:nth-child(3) {
  animation-delay: 0.3s;
}

.my-name path:nth-child(4) {
  animation-delay: 0.45s;
}

.my-name path:nth-child(5) {
  animation-delay: 0.6s;
}

.no-scroll {
  overflow: hidden;
}

